<div class="section container kittycondo-page">
  <h1><strong><%= current_user.username %>'s</strong> kitty condo.</h1>
  <hr>

  <%= button_to "Create Kitty", new_user_cat_path(current_user), class: "button is-primary is-rounded" %>
</div>
