<div class="section container kittycondo-page">
  <h1><strong><%= @user_name %>'s</strong> kitty condo.</h1>
  <hr>

  <%= button_to "Create Kitty", new_user_condo_cat_path, class: "button is-primary is-rounded" %>
</div>
