<div class="section container home-page">
  <h1>Welcome.</h1>

  <div class="row columns">
    <div class="column">
      <%#= link_to image_tag("blank-cat.png") %>
      <%= button_to "Create Kitty", root_path, class: "button is-primary create-kitty" %>
    </div>
    <div class="column">
      <button class="button is-info meow-lounge">
        Visit Meow Lounge
      </button>
    </div>
  </div>
</div>