.home-page {
  position: relative;
  font-family: Como;
  h1 {
    font-size: 3em;
    text-align: center;
  }

  button {
    display: block;
    margin: 0 auto;
  }

  .create-kitty {
    display: block;
    margin: 0 auto;
  }

  .logo {
    //position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate (-50%, -50%);
    display: block;
    margin: auto;
    margin-top: 10%;
  }
}