.meow-lounge {
  h1 {
    font-size: 2em;
  }

  .lounge {
    display: block;
    margin: 0 auto;
  }

  .cat-box {
    display: inline-grid;
    margin: 1em;
    width: 30%;

    .label {
      font-weight: bold;
    }
  }
}