.navbar {
  background-color: powderblue;
  color: gray();

  .navbar-item {
    a {
      font-size: 1em;
      &:hover {
        font-weight: 400;
        color: black;
      }
    }
  }

  .home-link {
    margin: 0 auto;
  }

  .navbar-middle {
    .nav-links {
      display: block;
      margin: 0 auto;
      font-size: 1.25em;
    }

    position: relative;
    margin-top: 0.65em;
    margin-left: -7em;
  }
}